
/* SHARED STYLES*/
body{
    background-image:url("../images/qbkls.png");  
    font-family:  'Open Sans', sans-serif;
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
}

.top-bar{
    background-color: #ffffff;
    border-bottom-color: #dddddd;
    border-bottom: 2px;
    border-style: solid;
    position: absolute;
    top:0;
    right: auto;
    width: 100%;   
    height:100px;
    margin:0;
}
.top-block{
    width: 70%;
    position: relative;
    top:0;
    margin-left: auto;
    margin-right:auto;
    max-width: 960px;
}
#name{
    font-family: 'EB Garamond', serif; 
    height: 100px;
    left: auto;
    background-color: #4aaaa5;
    text-align: center;
    line-height: 100px;
    display: inline-block;
    color: white;
    font-size: 2.5em;
    padding: 0px 50px 0px 50px;
}
#links{
    position: relative;
    height: 100px;
    line-height: 100px;
    float: right;
    display: inline-block;
}

.link-text{
    font-size: 1.1em;
}
a{
    color: #777777;
    text-decoration: none;
}

.content-block{
    position: relative;
    top:110px;
    margin-left:auto;
    margin-right: auto;
    max-width: 956px;
    width: 70%;
    background-color: #ffffff;
    padding-bottom: 0px;
    margin-bottom: 60px;
    border: 2px #dddddd solid;
}
h1{
    padding: 40px 0px ;
    margin:auto;
    color:#4aaaa5;
    font-size: 1.75em;
    position: relative;
    top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-bottom: 3px solid #cccccc;
    padding-bottom: 30px;
    width: 90%;

}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    background-color: #666666;
    text-align: center;
    border-top: 2px #4aaaa5 solid;
    color: white;
}
p.footer-text{
    bottom: -15px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
/* INDEX STYLES */
#about-photo{
    position: relative;
    float:left;
    padding: 30px 20px 20px 45px;
}
#content-text{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left:7.5%;
    width: 85%;
    line-height: 2;
    color:#777777;
    font-family:  'Open Sans', sans-serif;
}
/*PORTFOLIO STYLES*/
.project-photo-block{
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;  
    line-height: 3;
}
.project-photo{
    position: relative;
    right:0px;
    display: inline-block;
    /* margin:0px 40px 0px 0px; */
    /* padding: 30px 0px 0px 0px;; */


}
.photo-banner{
    position:absolute;
    top:65%;
    background-color: #4aaaa5;
    color: white;
    width: 100%;
    height: 15%;
    display: block;
    line-height: 1;
    text-align: center;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    
}
    p.banner-text{
        position: relative;
        top: 25%;
    }
/* CONTACT PAGE STYLES */
.input-fields{
    font-size: 1em;
    line-height: 1;
    margin: 20px 44px 0px 44px;    
    color:#777777;
    font-family:  'Open Sans', sans-serif;
}
input[type=text], select {
    width: 100%;
    margin: 8px 0;
    padding-left: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color:#777777;
    font-family:  'Open Sans', sans-serif;
}
#message-box{
    height: 200px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color:#777777;
    font-family:  'Open Sans', sans-serif;

}
input[type=submit] {
    width: 150px;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;  
    font-family:  'Open Sans', sans-serif;
}
@media  screen and (max-width: 980px){
      
    .top-block{
        width: 95%;
        position: relative;
        margin-left: auto;
        margin-right:auto;
        max-width: 960px;
    }
    #name{
        font-family: 'EB Garamond', serif; 
        height: 100px;
        left: auto;
        background-color: #4aaaa5;
        text-align: center;
        line-height: 100px;
        display: inline-block;
        color: white;
        padding: 0px 50px 0px 50px;
    }
    #links{
        position: relative;
        height: 100px;
        line-height: 100px;
        float: right;
    }
    .content-block{
        position: relative;
        top:110px;
        margin-left:2.5%;
        max-width: 720px;
        width: 95%;
        background-color: #ffffff;
        padding-bottom: 0px;
        margin-bottom: 60px;
        border: 2px #dddddd solid;
    }
    .project-image{
        width:100%;
    }
    .project-photo{
        width:42%;
        height:auto;
        margin-right: 5%;
        padding-bottom: 30px;
    }
    .project-photo-block{
        width: 100%;
        margin-left:5%;
        margin-right: 5%;
        height: auto;
        padding-top: 30px;
    }
}
@media  screen and (max-width: 768px){
    body{
        background-color: green;
    }
    .top-block{
        width: 95%;
        position: relative;
        margin-left: auto;
        margin-right:auto;
        max-width: 960px;
    }
    #name{
        font-family: 'EB Garamond', serif; 
        height: 100px;
        left: auto;
        background-color: #4aaaa5;
        text-align: center;
        line-height: 100px;
        display: inline-block;
        color: white;
        padding: 0px 50px 0px 50px;
    }
    #links{
        position: relative;
        height: 100px;
        line-height: 100px;
        float: right;
        display: inline-block;
    }
    .content-block{
        position: relative;
        top:110px;
        margin-left:auto;
        margin-right: auto;
        max-width: 720px;
        width: 95%;
        background-color: #ffffff;
        padding-bottom: 0px;
        margin-bottom: 60px;
        border: 2px #dddddd solid;
    }
    .project-image{
        width:100%;
    }
    .project-photo{
        width:42%;
        height:auto;
        margin-right: 5%;
        padding-bottom: 30px;
    }
    .project-photo-block{
        width: 100%;
        margin-left:5%;
        margin-right: 5%;
        height: auto;
        padding-top: 30px;
    }
    
}
@media  screen and (max-width: 640px){
    body{
        background-color: yellow;
    }
    
    #about-photo{
        position: relative;
        float:left;
        width: 90%;
        padding-left:5%;
    }
    .content-block{
        width:95%;
        top:170px;
    }
    .top-bar {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 0;
        height: 160px;
        padding: 0;
    }
    .top-block{
        width: 100%;
        position: relative;
        margin:0;
        padding:0;
    }
    #name{  
        height: 100px;
        width:100%;
        margin:0;
        padding:0;
    }
    #links{
        height: 60px;
        line-height: 60px;
        width: 100%;
        text-align: center;
        padding:0px;
        font-size:1.15em;
    }
    .responsive {
        width: 100%;
        height: auto;
    }
    /*Portfolio Block*/
    
    .project-image{
        width:100%;
    }
    .project-photo{
        width:100%;
        height:auto;
        padding-bottom: 30px;
    }
    .project-photo-block{
        width: 90%;
        margin:auto;
        height: auto;
        padding-top: 30px;
    }
}